<div id="slide-out" class="side-nav fixed">
  <div class="user-content">
    <i class="user-settings material-icons">more_vert</i>
    <div class="user-info">
      <div class="profile-picture">
        <img class="circle responsive-img" src="http://www.fialaandinvert.com/data/avatars/l/0/158.jpg?1420046094">
      </div>
      <span>Sean Armstrong</span>
    </div>
    <div class="user-options">
      <ul>
        <li><i class="user-settings material-icons">star</i></li>
        <li><i class="user-settings material-icons">add</i></li>
        <li><i class="user-settings material-icons">archive</i></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s2 group-content" style="padding: 0;">
      <ul>
        <li><i class="user-settings material-icons">star</i></li>
        <li><i class="user-settings material-icons">add</i></li>
        <li><i class="user-settings material-icons">archive</i></li>
      </ul>
    </div>
    <div class="col s10 note-content">
      <ul>
        <li>
        <div class="note-content-container">
          <div class="note-content-container-header">
            <span class="note-content-subject">Card Title</span>
            <p>This is some text about the thing</p>
          </div>
        </div>
        </li>
        <li>
        <div class="note-content-container">
          <div class="note-content-subject">
            Subject 2
          </div>
          <div class="note-content-brief">
            Some Notes 2
          </div>
        </div>
        </li>
        <li>
        <div class="note-content-container">
          <div class="note-content-subject">
            Subject 3
          </div>
          <div class="note-content-brief">
            Some Notes 3
          </div>
        </div>
        </li>
        <li>
        <div class="note-content-container">
          <div class="note-content-subject">
            Subject 4
          </div>
          <div class="note-content-brief">
            Some Notes 4
          </div>
        </div>
        </li>
        <li>
        <div class="note-content-container">
          <div class="note-content-subject">
            Subject 5
          </div>
          <div class="note-content-brief">
            Some Notes 5
          </div>
        </div>
        </li>
        <li>
        <div class="note-content-container">
          <div class="note-content-subject">
            Subject 6
          </div>
          <div class="note-content-brief">
            Some Notes 6
          </div>
        </div>
        </li>
        <li>
        <div class="note-content-container">
          <div class="note-content-subject">
            Subject 7
          </div>
          <div class="note-content-brief">
            Some Notes 7
          </div>
        </div>
        </li>
      </ul>
    </div>
  </div>
</div>
