<!DOCTYPE html>
<html>
<head>
  <title>SimpleNote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="slide-out" class="side-nav fixed">
    <div class="user-content">
      <i class="user-settings material-icons">more_vert</i>
      <div class="user-info">
        <div class="profile-picture">
          <img class="circle responsive-img" src="http://www.fialaandinvert.com/data/avatars/l/0/158.jpg?1420046094">
        </div>
        <span>Sean Armstrong</span>
      </div>
      <div class="user-options">
        <ul>
          <li><i class="user-settings material-icons">star</i></li>
          <li><i class="user-settings material-icons">add</i></li>
          <li><i class="user-settings material-icons">archive</i></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s2 group-content" style="padding: 0;">
        <ul>
          <li><i class="user-settings material-icons">star</i></li>
          <li><i class="user-settings material-icons">add</i></li>
          <li><i class="user-settings material-icons">archive</i></li>
        </ul>
      </div>
      <div class="col s10 note-content">
        <ul>
          <li>
            <div class="note-content-container">
              <div class="note-content-container-header">
                <span class="note-content-subject">Card Title</span>
                <p>This is some text about the thing</p>
              </div>
            </div>
          </li>
          <li>
            <div class="note-content-container">
              <div class="note-content-subject">
                Subject 2
              </div>
              <div class="note-content-brief">
                Some Notes 2
              </div>
            </div>
          </li>
          <li>
            <div class="note-content-container">
              <div class="note-content-subject">
                Subject 3
              </div>
              <div class="note-content-brief">
                Some Notes 3
              </div>
            </div>
          </li>
          <li>
            <div class="note-content-container">
              <div class="note-content-subject">
                Subject 4
              </div>
              <div class="note-content-brief">
                Some Notes 4
              </div>
            </div>
          </li>
          <li>
            <div class="note-content-container">
              <div class="note-content-subject">
                Subject 5
              </div>
              <div class="note-content-brief">
                Some Notes 5
              </div>
            </div>
          </li>
          <li>
            <div class="note-content-container">
              <div class="note-content-subject">
                Subject 6
              </div>
              <div class="note-content-brief">
                Some Notes 6
              </div>
            </div>
          </li>
          <li>
            <div class="note-content-container">
              <div class="note-content-subject">
                Subject 7
              </div>
              <div class="note-content-brief">
                Some Notes 7
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <nav class="mobile-nav hide-on-large-only">
    <div>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <main>
    <div class="main-options">
      <ul>
        <li><i class="neutral material-icons">mode_edit</i></li>
        <li><i class="positive material-icons">save</i></li>
        <li><i class="negative material-icons">delete</i></li>
      </ul>
    </div>
    <div class="main-content-container">
      <div class="main-content-container-header">
        <div class="row">
          <div class="input-field col s9">
            <input class="main-content-subject" placeholder="Card Title" id="first_name2" type="text">
          </div>
          <div class="input-field col s3">
            <select>
              <option value="" selected>Category</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
        <textarea class="materialize-textarea" placeholder="Enter Text Here"></textarea>
      </div>
    </div>
  </main>
<%# <%= yield %>

</body>
</html>
