/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

$dark-primary-color: #1976D2;
$primary-color: #2196F3;
$light-primary-color: #BBDEFB;
$text: #FFFFFF;
$adjacent-color: #4CAF50;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: #B6B6B6;

html {
  height: 100%;
}

body {
  color: $text;
  height: 100%;
}
nav { 
  background-color: $dark-primary-color;
  i {
    color: $text;
  }
}

header {
  color: $text;
  background-color: $dark-primary-color;
}


.side-nav {
  padding: 0;
  overflow: hidden;
}

.user-content {
  height: 200px;
  position: relative;
  background-color: $dark-primary-color;

  .user-settings {
    float: right;
  }

  .user-info {
    width: 50%;
    margin: 0 auto;

    .profile-picture {
      padding: 20px;
      margin: 0 auto;
    }

    span {
      display: block;
      text-align: center;
    }
  }

  .user-options {
    ul {
      padding-top: 20px;
      list-style: none;
      align-content: center;
      width: 50%;
      margin: 0 auto;
      
      li {
        display: block;
        i {
          text-align: center;
          width: 33%;
        }
      }
    }
  }
}

.row {
  height: calc(100% - 200px);
}

.group-content {
  height: 100%;
  background-color: $dark-primary-color;

  ul {
    margin: 0;

    li {
      padding: 5px;
      height: 34px;
      text-align: -webkit-center;
      border-top: thin solid white;
    }

    li:last-child {
      border-bottom: thin solid white;
    }
  }
}

.note-content { 
  background-color: grey;
  color: $primary-text;
  height: 100%;
  overflow-y: scroll;

  li {
    padding: 0;
    margin: 10px;
  }

  .note-content-container {
    border-radius: 3px;
    padding: 10px;
    height: 150px;
    background-color: white;
    overflow: hidden;
  }
}

main {
  height: 100%;
  width: 100%;
  background-color: grey;
  color: $primary-text;
  height: 100%;
  overflow-y: scroll;

  .main-content-container {
    margin: 3%;
    height: 94%;
    border-radius: 3px;
    padding: 10px;
    background-color: white;
    overflow: hidden;

    textarea {
      min-height: 100%;
    }
  }
}


nav, header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  nav, header, main, footer {
    padding-left: 0;
  }
}
